<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AppDownloadInvite">
  <test thread-count="5" name="AppDownloadInvite">
    <classes>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Invitations.AppDownloadInviteToValidNumber"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Invitations.AppDownloadInviteToInvalidNumber"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Invitations.AppDownloadInviteToBlankNumber"/>
    </classes>
  </test> <!-- AppDownloadInvite -->
</suite> <!-- AppDownloadInvite -->
