<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="classes">
  <test thread-count="1" name="Test" parallel="classes">
    <classes>
     
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Messaging.SendPostToFollowers"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Search.SearchNonExistingChannelOnDiscoverPage"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Verifications.VerifyAboutAppPage"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Messaging.SendTextMessageToFollowers"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Messaging.SendImageToFollowers"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.EditProfile.EditChannelProfile"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Verifications.VerifySupportPage"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Messaging.SendLocationToFollowers"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Search.SearchExistingChannelOnHomePage"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.loginPage.LoginTest"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Search.SearchExistingChannelOnDiscoverPage"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Messaging.SendVideoToFollowers"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Search.SearchNonExistingChannelOnHomePage"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.loginPage.Logout"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Verifications.verifyTitle"/>
      <class name="com.uiFramework.KisanForum.KisanNetWeb.testScripts.Messaging.SendDocumentToFollowers"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
